body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(35deg, #f2bc94, #EC8B5E);
}

/* container */

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: linear-gradient(330deg, #EC8B5E, #e5ab9f);
    border-radius: 25px;
    height: 450px;
    width: 500px
}

.container{
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 6px -1px, rgba(0, 0, 0, 0.06) 0px 2px 4px -1px;
}


/* Sign in class */
.sign-in-tag{
    font-size: 2em;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    
}
/* username input class */
.username-tag{
    font-size: 1.2em;
    border-radius: 25px;
    border:1px solid#FFCCCC;
    height: 40px;
    width: 245px;
    padding-left: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}

/* password input class */
.password-tag{
    font-size: 1.2em;
    border-radius: 25px;
    border:1px solid#CCFFFF;
    height: 40px;
    width: 245px;
    padding-left: 20px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

/*remember me class */
.remember-me-tag{
    color: black;

}
.forget-password-tag{
    padding-top: 3px;
}




/* div that include remember me text and forgot password text */
.remember-password-tag{
    width: 275px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

/*Sign in button class*/

.button-sign-in-tag{
    height: 40px;
    width: 120px;
    border-radius: 25px;
    background-color: rgb(231, 92, 77);
    color: white;
    font-size: 18px;
    border: none;
    transition: 0.5s;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}


.button-sign-in-tag:hover{
    background-color: #CCFFFF;
    border: 1px solid #FFCCCC;
    color: black;
    cursor: pointer;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 3px 5px;
}


/* register class */

.register-tag{
    color: black;
}

a{
    color: black;
    text-decoration: none;
}


@media (max-width: 600px){
    .remember-password-tag{
        font-size: 15px;
    }
}

